.Note {

	&__splash {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		background: url('../images/enote.png') no-repeat, linear-gradient(137.72deg, #FF512F -13.16%, #DD2476 127.11%);
		background-size: 500px auto, 100%;
		background-position: 50% 100%, 0 0;
		animation: enote 3s ease-in-out forwards;
	}

	&__logo {
		font-family: Rancho, sans-serif;
		color: #fff;
		font-size: 144px;
		animation: size 3s linear forwards;
		margin: 0;

		&_sup {
			font-size: 29px;
			position: absolute;
			left: -32px;
			top: 27px;
			font-weight: 400;
		}
	}

	@keyframes size {
		from {
			transform: scale(.9);
		}

		to {
			transform: scale(1);
		}
	}

	@keyframes enote {
		from {
			background-position: 50% 120%, 0 0;
		}

		to {
			background-position: 50% 100%, 0 0;
		}
	}
}