@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700,900&subset=cyrillic-ext");
@import url("//fonts.googleapis.com/css?family=Rancho");
.Notes {
  width: 100%;
  background-image: url("images/notes-background.png");
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px; }
